### Gradle
.gradle
/build/

### JetBrains
# User-specific stuff
.idea/**/workspace.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/uiDesigner.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# IntelliJ
out/

